body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#gameBoard {
    position: relative;
    margin: 20px auto;
    background-color: #f0f0f0;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}
